.main {
    height: 456px;
    margin-left: 220px;
    margin-top: 10px;
}
.main .focus {
    width: 721px;
    height: 455px;
}

.newsflash {
    width: 250px;
    height: 455px;
    /* background-color: purple; */
}

.news {
    /* overflow: hidden; */
    height: 165px;
    border:1px solid #e4e4e4;
    /* background-color: pink; */
}

.news_hd {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dashed #e4e4e4;
    padding: 0 15px;
}
.news_hd h4 {
    font-size: 14px;
    font-weight: 400;
}
.more::after {
    content: "\e920";
    font-family: 'icomoon';
}
.news_bd {
    padding: 10px 15px;
    /* text-emphasis: emphasis; */
}

.news_bd strong {
    margin-right: 6px;
}
.news_bd ul li {
    height: 23px;
    line-height: 23px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lifeservice {
    overflow: hidden;
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    /* background-color: purple; */
}
.lifeservice ul {
    width: 252px;
}
.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}
.lifeservice ul li i {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -19px -15px;
}
.bargain  {
    margin-top: 5px;
}

/* 推荐模块 */
.recom {
    height: 163px;
    margin-top: 10px;
    background-color: #ebebeb;
}
.recom_hd {
    /* float: left; */
    width: 205px;
    height: 163px;
    background-color: #5c5251;
    text-align: center;
}
.recom_bd ul li {
    position: relative;
}
.recom_bd ul li img {
    width: 248px;
    height: 163px;
}
.recom_bd ul li:nth-child(-n+3)::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}
.box_hd h3{
    color: #c81623;
    font-size: 18px;
    font-weight: 400px;
}
.floor .w {
    margin-top: 30px;
}
.box_hd {
    height: 30px;
    line-height: 30px;
    border-bottom: 2px solid #c81623;
}
.table_list ul li {
    float: left;
}
.table_list ul li a {
    margin: 0 14px;
}
.table_list ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    margin-top: 10px;
    background-color: #ccc;
}

.box_bd {
    height: 361px;
}

.tab_list_item>div {
    float: left;
    height: 100%;
}

.col_210 {
    width: 210px;
    text-align: center;
    background-color: #f9f9f9;
}
.col_210 ul {
    padding-left: 12px;
}
.col_210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    margin-right: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 34px;
}
.col_329 {
    width: 329px;
}
.col_221 {
    width: 221px;
}
.col_219 {
    width: 219px;
}